
@font-face {
  font-family: 'bebas';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/bebas_regular.otf") format("opentype");
}

@font-face {
  font-family: 'bebas_bold';
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/bebas_bold.otf") format("opentype");
}

@font-face {
  font-family: 'sf';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SF_regular.ttf") format("truetype");
}

@font-face {
  font-family: 'sf_bold';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/SF_bold.ttf") format("truetype");
}